/*!
 * ml-stack-nav - v1.1.2
 * Customizable, accessible, easy-to-use multi-level stack navigation menu with slide effect.
 * https://github.com/damianwajer/ml-stack-nav
 *
 * Author: Damian Wajer
 * License: MIT
 *
 * @preserve
 */


.ml-stack-nav {
  position: absolute;
  right: 0;
  z-index: -1;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 500px;
  max-width: 100vw;
}
.ml-stack-nav *,
.ml-stack-nav *:after,
.ml-stack-nav *:before {
  box-sizing: inherit;
}
.ml-stack-nav__menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20px;
  z-index: 900;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  background-color: #fff;
  list-style-position: inside;

}
/* .ml-stack-nav > .ml-stack-nav__menu {
  left: 0;
} */
.ml-stack-nav--slide-left .ml-stack-nav__menu {
  right: 20px;
  left: 0;

}
.ml-stack-nav--slide-left > .ml-stack-nav__menu {
  right: 0;
}
.no-js .ml-stack-nav:target {
  position: static;
  visibility: visible;

}
.no-js .ml-stack-nav:target .ml-stack-nav__menu {
  position: static;
  visibility: visible;

}
.no-js .ml-stack-nav .ml-stack-nav__next,
.no-js .ml-stack-nav .ml-stack-nav__back {
  display: none;
}

.is-open > .ml-stack-nav__menu {
  visibility: visible;

}

.is-active > .ml-stack-nav__menu {
  overflow-x: hidden;
  overflow-y: auto;
}
